# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties

# IDE specific
.idea/
*.iml

# OS generated
.DS_Store

# Android Studio specific caches
.cxx/
captures/
.externalNativeBuild/

# Keystore files (güvenlik için, release keyleri asla paylaşma)
*.keystore

# (Opsiyonel) Firebase / Google Services
# google-services.json
